
*{
	margin: 0;
	padding 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/* the styles for the header */
header img {
	float: left;
}
header{
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: 3px solid #931420;
}

header h2 {
	font-size: 170%;
	color: #800000;

	padding-left: 30px;
	padding-right: 30px;

}
header h3 {
	font-size: 130%;
	font-style: italic;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
/* the styles for the section */
main {
	clear: left;
}


main h2 {
	font-size: 130%;
	color: #800000;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}
main h3 {
	font-size: 105%;
	padding-bottom: 0.25em;
}
/* the styles for the footer */
footer p{
	text-align: center;
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	background-color: #931420;
	color: white;
	padding-top:1em;
	padding-bottom: 1em;
	clear: both;
}
.shadow{
	text-shadow: 1px 1px #800000;

}
header img{
	margin-left: 7px;
	padding-bottom: 1em;
}
.hov:hover {
	font-style: italic;
}
html{
	background-color: white;
}
main p{
	padding-bottom: 0.5em;
}
main ul{
	padding-bottom: 0.25em;
	padding-left: 1.25em;
}
main li{
	padding-bottom:0.35em;
}
div {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
header{
	background: linear-gradient(30deg, #f6bb73 0%,#f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%)
}
section{
	width: 525px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside img{
	padding-bottom: 1em;

}
h1{
	font-size: 150%;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	margin-top: 0;
	margin-bottom: 0;
}
article{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
article img{
	float: right;
	margin: 20px 0px 35px 15px;
	border: 1px solid black;
}
article h2{
	padding-top: 0;
}
article h3{
	font-size: 105%;
	padding-bottom: 0.25em;
}
section h1 {
	color: black;
	padding-top: 0;
}
section h2{
	color: black;
	font-size: 18px;
}
article h1 {
	color: #800000;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
	display: block;
	width: 160px;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}